/**
 * @author Alexander Marenin
 * @date July 2014
 */


body {
    font-size: 14px;
    font-family: 'Open Sans', Tahoma;
    color: @color-text;
}

.header, h1, h2, h3, h4 {
    font-family: 'Open Sans Condensed', 'Open Sans Light', Tahoma;
}


.btn-success {
    background-color: @color-emerald;
    border-color: darken(@color-emerald, 10%);
}


button#addType {
    margin-top: 20px;
    float: right;
}

span.glyphicon {
    display: inline-block;
    margin: 0 4px 0 0;
}