/**
 * @author Alexander Marenin
 * @date July 2014
 */


body {
    font-size: 14px;
    font-family: 'Open Sans Light', Tahoma;
    color: @color-text;
}

.header, h1, h2, h3, h4 {
    font-family: 'Open Sans Condensed', 'Open Sans Light', Tahoma;
}