/**
 * @author Alexander Marenin
 * @date July 2014
 */


#main-menu {
    border-radius: 0;
    background-color: @color-smoke;
    border: 0;
    font-family: 'Open Sans Condensed', 'Open Sans Light', Tahoma;

    a {
        color: @color-north-sea;
    }

    a#logo {
        font-size: 30px;
    }

    #main-nav {
        font-size: 20px;
        border: 0;

        ul {
            margin-bottom: 0;
        }

        li > a {
            padding-top: 18px;
            padding-bottom: 18px;
            margin-bottom: 0px;
        }

        li.active > a {
            background-color: @color-platinum;
        }
    }
}

#main-content {
    .buttons-block {
        padding-top: 20px;
        padding-bottom: 10px;
        overflow: hidden;

        & > button, & > a {
            float: right;
        }
    }
}