/**
 * @author Alexander Marenin
 * @date July 2014
 */


#main-menu {
    border-radius: 0;
    background-color: @color-smoke;
    border: 0;
    font-family: 'Open Sans Condensed', 'Open Sans Light', Tahoma;

    a {
        color: @color-north-sea;
    }

    a#logo {
        font-size: 30px;
    }

    #main-nav {
        font-size: 22px;
        border: 0;

        ul {
            margin-bottom: 0;
        }

        li > a {
            padding-top: 18px;
            padding-bottom: 18px;
            margin-bottom: 0px;
        }

        li.active > a {
            background-color: @color-platinum;
        }
    }

    &.users {
        background-color: @color-bg-light-orange;
        #main-nav li.active > a, button.navbar-toggle {
            background-color: darken(@color-bg-light-orange, 10%);
        }
    }
    &.issuers {
        background-color: @color-bg-light-green;
        #main-nav li.active > a, button.navbar-toggle {
            background-color: darken(@color-bg-light-green, 10%);
        }
    }
    &.cards {
        background-color: @color-bg-light-blue2;
        #main-nav li.active > a, button.navbar-toggle {
            background-color: darken(@color-bg-light-blue2, 10%);
        }
    }
    &.error {
        background-color: @color-bg-light-red;
        #main-nav li.active > a, button.navbar-toggle {
            background-color: darken(@color-bg-light-red, 10%);
        }
    }
}

#main-content {
    padding-bottom: 20px;
    .buttons-block {
        overflow: hidden;
        margin-bottom: 24px;

        h2, h3 {
            float: left;
        }

        button, a {
            margin-top: 20px;
            margin-bottom: 10px;
            float: right;
        }
    }
}